@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  overflow: hidden; 
}

.btn-primary {
  background-color: #355e5b;
  border: none;
  color: #fff;
  padding: 9px 15px;
  border-radius: 8px;
}
.btn-white {
  border: solid 1px #eaecf0;
  color: #344054;
  padding: 9px 15px;
  border-radius: 8px;
  background-color: #fff;
}
.btn-filter {
  border: none;
  color: #344054;
  padding: 9px 15px;
  border-radius: 8px;
  background-color: #fff;
}
.btn-secondary {
  border: solid 1px #D0D5DD;
  color: #344054;
  padding: 9px 15px;
  border-radius: 8px;
}
/* Example for WebKit browsers */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #355e5b;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
